/* Pageoverlay after pressing the Add card */
#body-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in-out;
    z-index: 1;
}

/* AddWindow for Urlaub Urlaubswunsch and Familienmitglieder Design */
.dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
    background-color: white;
    color: black;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

/* to see the Bodyoverlay */
#body-overlay.sichtbar,
.dialog.sichtbar {
    opacity: 1;
    pointer-events: auto;
}

/* close Button for the dialog */
.dialog-schliessen-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 32px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

}


/* Styling for the addWindow */
/* addWindow sizing color border and shadow */
#addWindow-dialog {
    background-color: #333;
    box-shadow: inset 0px 0px 10px black, 2px 2px 4px rgba(255, 255, 255, 0.1), 8px 8px 16px rgba(255, 255, 255, 0.1);
    border: 5px solid silver;
    width: 25%;
}

/* to place the items on the dialog in the center */
#addWindow-dialog form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* the H3 design for the  Dialog addWindow */
#addWindow-dialog h3 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: max(2.5vw, 1.1em);
    text-shadow: 0px 0px 4px black;
}

/* inputfields design for the Dialog addWindow */
#addWindow-dialog input {
    width: 100%;
    margin: 7px;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: inherit;
    padding: 14px 16px;
    font-size: 17px;
    border: 2px solid silver;
}

/* Styling for the editWindow */
#editWindow-dialog {
    background-color: #333;
    box-shadow: inset 0px 0px 10px black, 2px 2px 4px rgba(255, 255, 255, 0.1), 8px 8px 16px rgba(255, 255, 255, 0.1);
    border: 5px solid silver;
    width: 25%;
}

/* to place the items on the dialog in the center */
#editWindow-dialog form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* the H3 design for the Dialog editWindow */
#editWindow-dialog h3 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: max(2.5vw, 1.1em);
    text-shadow: 0px 0px 4px black;
}

/* inputfields design for the Dialog editWindow */
#editWindow-dialog input {
    width: 100%;
    margin: 7px;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: inherit;
    padding: 14px 16px;
    font-size: 17px;
    border: 2px solid silver;
}