/* Three columns side by side */
.column {

  float: left;
  width: 23.5%;
  margin-bottom: 16px;
  padding: 0 8px;

}

/* Add some shadows to create a card effect */
.card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  height: 600px;
  overflow: hidden;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;

}

/* Clear floats */
.container::after,
.row::after {

  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  font-weight: bold;
}

/* header*/

/* The background picture design*/

.background {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 1920px 400px;
  border: 2px solid rgb(104, 103, 103);
  border-radius: 10px 10px 10px 10px;

}


/* Reise ziele Logo adjustment*/
.topic {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  position: sticky;
  z-index: 1;
  display: grid;
  margin-left: 20%;
  margin-right: 60%;
  margin-bottom: -3%;
}

/* The navbar */
/* Position the navbar container inside the image */
.container {

  position: sticky;
  margin: 32px auto;
  margin-top: -30px;
  width: auto;
}

.topnav {
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: overlay;
  background-color: #333;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px 20px 20px 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

}


/* home, ziel and Abstimmung design*/
.links {
  color: white;
  padding: 14px;
  text-decoration: none;
  display: inline-block;
}

li a:hover {
  background-color: #111;
}

li {
  float: left;
  list-style-type: none;
}


/* the footer design for our Website */
.footer-basic {
  text-align: center;
  justify-content: end;
}

/* Slider Bar*/

.slidecontainer {

  width: 100%;
  /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}