/* body background color and margin 0 for smooth edges */
body {
    background: #F0F4FB;
    margin: 0px;
}


/* The background picture design*/

.background {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 500px;
    border-radius: 10px 10px 10px 10px;
    filter: brightness(60%);

}

/* Topic in the Background picture Design*/

/* For larger Topics, Urlaubswunsch, Familienmitglieder, Priorisiern */
.topic {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 53%;
    margin-top: -100px;
    margin-left: -200px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-style: italic;
    backdrop-filter: blur(10px);
}

/* For Small Topics Urlaub Home*/

.topicSmall {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 55%;
    margin-left: -200px;
    margin-top: -100px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    backdrop-filter: blur(10px);

}


/* The navbar */
/* Position the navbar container inside the image */

.container {
    position: sticky;
    margin: 32px auto;
    margin-top: -30px;
    width: auto;
}

.topnav {
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: overlay;
    background-color: #333;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px 20px 20px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* links style Home Urlaub Urlaubswunsch Familienmitglieder Priorisieren */
.links {
    color: white;
    padding: 14px;
    text-decoration: none;
    display: inline-block;
}

li a:hover {
    background-color: #111;
}

li {
    float: left;
    list-style-type: none;
}

/* AddWindow for adding Familymember, Holiday and Holiday wish */
.addWindow {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
}

/* Dropwdown choose option design */
#chooseDrop {
    font-family: 'Poppins', sans-serif;
    min-width: 100px;
    box-shadow: #333;
    padding: 2% 35%;
    border-radius: 10px 10px 10px 10px;
    margin: 5%;
}

.chooseSeason {
    font-family: 'Poppins', sans-serif;
    min-width: 100px;
    box-shadow: #333;
    padding: 2% 35%;
    border-radius: 10px 10px 10px 10px;
    margin: 5%;
}

/* Article cards design */

/* Site container for Article cards to Start in the center */
.site-container {
    margin: 32px auto;
    max-width: calc(100%-80px);
}

/* Article container for gap between cards and max 4 cards on 1 line */
.article-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(265px, 1fr));
    gap: 2rem;
}

/* Article image design on the Article cards */
.article-image {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.article-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.article-card {
    background: white;
    border-radius: 20px;
}

/* background shadow on hover */
.article-card:hover {
    box-shadow: 4px 4px 20px 20px rgba(0, 81, 230, 0.2);
    cursor: pointer;
}

/* article-card adjustment with distance and content design font.. */
.article-card .article-content {
    padding: 2rem;
}

.article-content {
    overflow: hidden;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

/* holiday time font adjustment on the article card  */
.article-content .card-category {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bolder;
    color: #6b82a7;
    display: block;
    text-decoration: none;
}


.article-content .card-excerpt {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #6b82a7;
    margin: 0;
}

/* holiday font adjustment on the article card */
#holidayPlan {
    font-family: 'FontAwesome';
    letter-spacing: 0.1rem;
}

/* location font adjustment on the article card */
#locationTxt {
    font-family: 'FontAwesome';
    letter-spacing: 0.1rem;

}

/* description font adjustment on the article card */
#descriptionTxt {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
}


/* positioning of the article cards to make them adjustable for diffrent screen sizes */
@media screen and (min-width: 768px) {
    .site-container {
        max-width: 608px;
    }

    .article-card {
        display: grid;
        grid-template-rows: 220px 1fr;
    }

    @media screen and (min-width: 1280px) {
        .site-container {
            max-width: 1156px;
        }
    }
}


/* the footer design for our Website */

.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
    text-align: center;
    justify-content: end;
}

.footer-basic .kontaktLink {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #22447b;
    display: block;
    text-decoration: none;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}